@model Project2WooxTravel.Entities.Category
@{
    ViewBag.Title = "UpdateCatgory";
    Layout = "~/Areas/Admin/Views/AdmninLayout/Index.cshtml";
}

<h2 class="mb-4">Kategori Güncelleme Sayfası</h2>

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            @Html.HiddenFor(x => x.CategoryId)
                            <label>Ülke Adı</label>
                            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                            <br />
                            <button class="btn btn-success">Kategoriyi Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>